.customScrollbar {
  overflow-y: auto;
}

.customScrollbar::-webkit-scrollbar {
  width: 4px;
}
.customScrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #39393b;
  border-radius: 20px;
}

.glowPurple {
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.4);
}

.dashedBorderUpload {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23353538' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 12px;
}
